doctype html
html(lang = 'en')
    head
        title AshesiFindMe
        link(rel = 'stylesheet', href = '../../assets/css/normalize.css')
        link(rel = 'stylesheet', href = '../../assets/css/skeleton.css')
        link(rel = 'stylesheet', href = '../../assets/css/font-awesome.min.css')
        link(rel = 'stylesheet', href = '../../assets/css/style.css')
        meta(name = 'author', content = 'Ronald Nettey')
        meta(name = 'viewport', content = 'width = device-width, initial-scale = 1.0' )
    