script(src = 'assets/js/jquery-3.2.1.min.js')
script(async, defer,src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyCjGivUM2yoMXlUGprvXIaAiqW9hvDd7n0&callback=initMap')
script(src = 'assets/js/vue.js')
script(src = 'assets/js/xybron.js')