doctype
html(lang = 'en')
    head
        title Ashesi
        link(rel = 'stylesheet', href = 'assets/css/normalize.css')
        link(rel = 'stylesheet', href = 'assets/css/skeleton.css')
        link(rel = 'stylesheet', href = 'assets/css/slick.css')
        link(rel = 'stylesheet', href = 'assets/css/font-awesome.min.css')
        link(rel = 'stylesheet', href = 'assets/css/style.css')
        meta(name = 'Ronald Nettey')
        meta(name = 'viewport', content = 'width = device-width, initial-scale = 1.0' )
    body
        section.container.fullpage#mainPage
            .row
                .p.hum
                     i.fa.fa-bars(aria-hidden="true", onclick = 'openSideNav()')

                .container.logoHolder
                    img(src = 'assets/images/logo.jpg')
                    
            
                .container.searchBar
                    input.u-full-width(type = 'text', placeholder = 'Search for a course')
            
                .container
                     h5.subTitle Departments
            .row
                .slideX
                    div.xCard
                        .imgHolder#pic1
                        .description
                            .container
                                h4 Computer Science
                                p Something about Computer Science
                                p Explore 
                                    i.fa.fa-long-arrow-right(aria-hidden="true")
                    div.xCard
                        .imgHolder#pic2
                        .description
                            .container
                                h4 Electrical Engineering
                                p Something about Electrical Engineering
                                p Explore 
                                    i.fa.fa-long-arrow-right(aria-hidden="true")
                    div.xCard
                        .imgHolder#pic3
                        .description
                            .container
                                h4 Mechanical Engineering
                                p Something about Mechanical Engineering
                                p Explore 
                                    i.fa.fa-long-arrow-right(aria-hidden="true")
                    div.xCard
                        .imgHolder#pic4
                        .description
                            .container
                                h4 Business Admininstration
                                p Something about Mechanical Engineering
                                p Explore 
                                    i.fa.fa-long-arrow-right(aria-hidden="true")

        section.container.fullpage.animPage#departmentPage
            .pageWrapper
                .fullpage#pageContent
                    .row
                        p.hum
                         i.fa.fa-bars(aria-hidden="true", onclick = 'openSideNav()')

                        .container.logoHolder
                            img(src = 'assets/images/logo.jpg')
                    .row
                        .one-half.column
                            .container
                            i.fa.fa-long-arrow-left(aria-hidden="true", onclick = 'closeDepartmentPage()')
                        .one-half.column
                            .container
                                i.fa.fa-gratipay(aria-hidden="true")
                    .row
                        .container
                            h1 Name of Department
                            p  Information about the department can go here. Just a summary.
                        .container
                            h4.subTitle Courses
                    .row
                        .slideX
                            div.xCard
                                .imgHolder#pic1
                                .description
                                    .container
                                        h4 Computer Science
                                        p Explore 
                                            i.fa.fa-long-arrow-right(aria-hidden="true")
                            div.xCard
                                .imgHolder#pic2
                                .description
                                    .container
                                        h4 Electrical Engineering
                                        p Explore 
                                            i.fa.fa-long-arrow-right(aria-hidden="true")
                            div.xCard
                                .imgHolder#pic3
                                .description
                                    .container
                                        h4 Mechanical Engineering
                                        p Explore 
                                            i.fa.fa-long-arrow-right(aria-hidden="true")
                            div.xCard
                                .imgHolder#pic4
                                .description
                                    .container
                                        h4 Business Admininstration
                                        p Explore 
                                            i.fa.fa-long-arrow-right(aria-hidden="true")
                                            
                            
                            
                             
                              
                .fullpage#pageThumbBG
        section.fullpage#coursePage
         

            .row
                p.hum
                    i.fa.fa-bars(aria-hidden="true", onclick = 'openSideNav()')
                .one-half.column
                    .container
                         i.fa.fa-long-arrow-left(aria-hidden="true", onclick = 'closeCoursePage()')
                .one-half.column
                    .container
                        i.fa.fa-share-alt(aria-hidden="true")
            .row
                .container.logoHolder
                    img(src = 'assets/images/logo.jpg')
            .row
                .container
                    h1 Course Name
                    p Some info about the course
                    .inPic
                        img(src = 'assets/images/ee.jpg' )

        section.fullpage#sliderNav
            h1 Sidebar
            p(onclick = 'closeSideNav()') Close Sidebar

            

       
       
        script(src = 'assets/js/jquery.min.js')
        script(src = 'assets/js/slick.min.js')
        script(src = 'assets/js/xybron.js')
    


