
doctype html
html(lang = 'en')
    head
        title FindTest
        meta(name = 'author', content = 'Ronald Nettey')
        meta(name = 'viewport', content = 'width = device-width, initial-scale = 1.0' )
    body
    p Incoming Request : 
        span#request

    script(src = 'https://www.gstatic.com/firebasejs/4.6.0/firebase.js')
    script(src = 'findFriends.js')
    script(src = 'test.js')